<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832211977146-scha7ptjqqn7mvelru8gb5lah9cm4laj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832211977146-scha7ptjqqn7mvelru8gb5lah9cm4laj</string>
	<key>API_KEY</key>
	<string>AIzaSyBcCO_k8Y_xUDrzNedIKOib0cQbg3e153o</string>
	<key>GCM_SENDER_ID</key>
	<string>832211977146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DJAZE.DJAZE</string>
	<key>PROJECT_ID</key>
	<string>djaze-8d180</string>
	<key>STORAGE_BUCKET</key>
	<string>djaze-8d180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832211977146:ios:13ea9102031c9ccd4b1383</string>
	<key>DATABASE_URL</key>
	<string>https://djaze-8d180.firebaseio.com</string>
</dict>
</plist>